:root {
    --white: #fff;
    --black: #000; 
    --blue: rgb(9, 23, 175);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

.LoginHome { 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapperLogin {
    position: relative;
    width: 700px;
    height: 450px;
    background: var(--white);
    border: 2px solid var(--black);
    border-radius: 10px;
    box-shadow: 0 0 20px var(--black);
    overflow: hidden;
}

.wrapperLogin .form-box1 {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px 0 40px;
}

.form-box1 h2 {
    margin-bottom: 10px;
    font-size: 32px;
    color: var(--black);
    text-align: center;
    position: relative;
}

.form-box1 h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 4px;
    background: var(--black);
}

.form-box1 .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--black);
    transition: .5s;
    padding-right: 23px;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: var(--blue);
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--black);
    pointer-events: none;
    transition: 0.5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: var(--blue);
}

form button {
    width: 100%;
    height: 45px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
}

form button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

form .linkTxt {
    font-size: 14px;
    color: var(--black);
    text-align: center;
    margin: 20px 0 10px;
}

.linkTxt p a {
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
}

.wrapperLogin .info-text {
    position: absolute;
    margin-right: 40px;
    top: 0;
    width: 50%;
    height: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px 60px 150px;
}

.wrapperLogin .info-text h2 {
    font-size: 36px;
    color: var(--white);
    line-height: 1.3;
    text-transform: uppercase;
}

.wrapperLogin .info-text p {
    font-size: 16px;
    color: var(--white);
}

.wrapperLogin .rotate-bg,
.wrapperLogin .rotate-bg2 {
    position: absolute;
    width: 850px;
    height: 600px;
    transition: 1.5s ease;
}

/* Background Styles */
.wrapperLogin .rotate-bg {
    top: -4px;
    right: 0;
    background: #000;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
}

.wrapperLogin .rotate-bg2 {
    top: 100%;
    left: 250px;
    background: var(--white);
    transform-origin: bottom left;
}

.input-box .icon {
    position: absolute;
    right: 10px; /* Position inside the input field */
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: var(--black);
    pointer-events: none; /* Prevent interaction with the icon */
    transition: 0.5s;
}

.input-boxinput:focus~.icon,
.input-box input:valid~.icon {
    color: var(--blue); /* Change icon color on focus/valid input */
}