/* Global Styles */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* Ensures the background is white */
    color: black;
    max-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('./adminBG.jpeg');
    background-repeat: no-repeat;
    background-color: white;
}


/* Navbar Styles */
.NavBarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 0 30px;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.h2Dashboard {
    color: white; 
}

/* Menu Icons */
.fa-bars,
.fa-times {
    color: white;
}

/* Menu Styles */
.nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-Links {
    text-decoration: none;
    color: white;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.nav-Links i {
    padding-right: 10px;
}

.nav-Links:hover {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 7px;
    color: black;
}

/* Dropdown Styles */
.nav-item {
    position: relative; /* Position relative for dropdown */
}

.nav-item:hover .dropdown{
    display: block; /* Display dropdown on hover */
}

.dropdown {
    display: none;
    position: absolute;
    left: 0;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    width: 190px;
}

.dropdown .nav-Links {
    display: block;
    padding: 1rem;
    font-size: 0.9rem;
    white-space: nowrap;
}

.dropdown .nav-Links:hover {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    color: black;
}

/* Mobile Links */
.nav-Links-mobile {
    padding: 0.7rem 1.1rem;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;
}

.nav-Links-mobile:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    color: rgb(255, 255, 255);
}

.menu-icons {
    display: none;
}

ul {
    list-style-type: none;
}
/* Responsive Design */
@media screen and (max-width: 760px) {
    .NavBarItems {
        z-index: 99;
    }

    .nav-menu {
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(0, 0, 0, 0.95);
        box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.3);
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        padding: 80px 0 30px;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }

    .nav-menu.active {
        left: 0;
    }

    .menu-icons {
        display: block;
    }

    .nav-Links,
    .nav-Links-mobile {
        padding: 1rem;
        display: block;
        text-align: center;
        font-size: 1rem;
    }

    .nav-Links:hover,
    .nav-Links-mobile:hover {
        background-color: rgb(255, 255, 255);
    }

    /* Mobile dropdown adjustments */
    .nav-item {
        width: 100%;
    }

    .dropdown {
        position: relative;
        top: 0;
        background-color: rgb(255, 255, 255);
        margin-left: 35%;
        box-shadow: none;
    }

    .dropdown .nav-Links {
        font-size: 0.9rem;
        padding: 1rem;
        color: black;
    }

    .dropdown .nav-Links:hover {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0;
    color: white;
}
}

.session-notification {
  background-color: #f44336;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 20%;
  z-index: 1000;
}

