:root {
  --white: #fff;
  --black: #000;
  --blue: rgba(6, 19, 160, 0.897);
  --gray: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
}

.BuildingImagesWrapper {
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.BuildingImagesBox {
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 900px; /* Increased width for two columns */
}

.BuildingImagesTitle {
  font-size: 37px;
  margin-bottom: 20px;
  text-align: center;
}

.form-columns {
  display: flex;
  gap: 30px; 
}

.form-column {
 
  flex: 1; /* Each column takes equal width */
  border: 2px solid var(--black); /* Black border for each column */
  padding: 15px;
  border-radius: 10px;
}

.InputGroup {
  margin-bottom: 17px;
}

.InputGroup label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.InputGroup input,
.InputGroup select,
.InputGroup textarea {
  width: 100%;
  padding: 10px;
  font-size: 17px;
  border: 1px solid var(--black);
  border-radius: 5px;
  outline: none;
}

.InputGroup textarea {
  resize: vertical;
  min-height: 100px;
}


.radio-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-container label {
    display: flex;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
}

.radio-container input[type="radio"] {
    margin-right: 10px;
    appearance: none;
    width: 5px;
    height: 5px;
    border: 2px solid var(--blue);
    border-radius: 20%;
    outline: none;
    cursor: pointer;
    position: relative;
}

.radio-container input[type="radio"]:checked {
    background-color: var(--blue);
}

.radio-container input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border-radius: 20%;
}


.button-container {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons horizontally */
  gap: 10px; /* Space between buttons */
  margin-top: 20px;
}

.BuildingImagesBtn {
  width: 70%; /* Set button width to 70% of the container */
  padding: 10px 20px;
  font-size: 14px;
  color: var(--white);
  background-color: var(--black);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BuildingImagesBtn:hover {
  background-color: var(--blue); /* Darker blue on hover */
}